.Home__container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: radial-gradient(
    farthest-corner at 40px 40px,
    #50c5ee 60%,
    rgba(0, 212, 255, 0.5) 100%
  );
  min-height: calc(100vh - 60px);
  margin: 15px;
  padding: 15px;
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);

  color: hotpink;
  text-shadow: 1px 1px 1px rgb(250, 179, 214);
  /* font-size: 2.5rem; */
  /* text-align: center; */
}

@media (max-width: 350px) {
  .Home__container {
    justify-content: unset;
  }
}
